rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // The leaderboard and questions are publicly readable.
    match /questions/{questionId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /predictions/{predictionId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
